    <article class="">
      <div class="">
        <div>
          <a href="/post/{{id}}" target="_blank">{{title}}</a>
        </div>
         <div class="">
        <p>{{post_body}}</p>
      </div>
        <div class="meta">
          Posted by {{user.username}} on {{format_date created_at}}          
        </div>
      </div>
    </article>