<article class="post">
    <div class="title">

        <a href="/post/{{id}}">
            <p>{{title}}</p>
        </a>
        <p>{{title}}</p>
    </div>
    <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
    </div>
    <div class="">
        <p>{{post_body}}</p>
    </div>
</article>